:root {
    --white: hsl(0, 0%, 100%);
    --lgray: hsl(212, 45%, 89%);
    --gblue: hsl(220, 15%, 55%);
    --dblue: hsl(218, 44%, 22%);
    --mainfont: "Outfit", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--mainfont);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3 {
    margin: 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

.background {
    background-color: var(--lgray);
    display: flex;
    height: 85%;
    width: 90%;
    box-shadow: 0px 10px 20px hsl(213, 19%, 78%);
}

.qr-card {
    background-color: var(--white);
    margin: auto;
    border-radius: 15px;
    padding: 1rem;
    width: 300px;
    box-shadow: 0px 10px 14px hsl(213, 33%, 72%);
}

h1 {
    text-align: center;
    font-size: 1.3rem;
}

.qr-card > p {
    text-align: center;
    color: var(--gblue);
}

.attribution {
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
}